<div class="section-three" >
  {% for block in section.blocks %}
    <div class="block-three" style="background-image: url({{ block.settings.background-image | img_url:'master' }});">
    <h2>{{ block.settings.block-heading }}</h2>
    <p>{{ block.settings.block-para }}</p>
    {% if  block.settings.button_text and block.settings.button_link %}
      <a href="{{ block.settings.button_link }}" class="button_three">{{ block.settings.button_text }}
      {% endif %}
        </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Three Section",
    "settings": [
      {
        "type": "text",
        "default":"Section Three",
        "label": "Third Section",
        "id": "text-set"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name":"main-text",
        "settings": [
          {
            "type": "text",
            "id": "block-heading",
            "label": "Block Heading"
          },
          {
            "type":"image_picker",
            "id":"background-image",
            "label":"Background Image"
          },
          {
            "type": "textarea",
            "id": "block-para",
            "label":"Block Paragraph"
          },
          {
            "type": "text",
            "id": "button_text",
            "label":"Button Text",
            "default":"Learn More"
          },
          {
            "type":"url",
            "id":"button_link",
            "label":"Button Link",
            "default":"/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Third Section",
        "category":"Third Section"
      }
    ]
  }
{% endschema %}